*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li a{
    text-decoration: none;
    color: inherit;
}
div img{
    display: block;
    width: 100%;
}
header{
    background-color: #122a57;
    height: 100px;
    display: flex;
    align-items: center;
}
header .menu{
    justify-content: space-between;
    padding: 0 20px;
    color: #fff;
}
header .list-items{
    display: flex;
    width: 100%;
    max-width: 260px;
    justify-content: space-between;
    align-items: center;
}
header .list-items li{
    color: #fff;
}
footer{
    background-color: #122a57;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}
.flex-container{
    display: flex;
    /* max-width: 992px; */
    margin: auto;
    width: 100%;
    padding: 5px 20px;
    justify-content: space-around;
}
.apresentacao{
    display: flex;
    height: 100vh; /* O vh corresponde ao 1% do viewport, que é referente a altura da tela do dispositivo */
    align-items: center;
    /* justify-content: space-between; */
    padding: 0 20px;
    /* border: #db2525 1px solid; */
}
.apresentacao .texto-apresentacao{
    min-height: 200px;
    /* width: 100%; */
    /* border: #122a57 1px solid; */
}
.apresentacao .texto-apresentacao h1{
    color: #122a57;
    font-size: 52px;
    margin-bottom: 10px;
}
.apresentacao .texto-apresentacao p{
    margin-bottom: 20px;
    font-size: 20px;
}
.apresentacao .texto-apresentacao a{
    background-color: #122a57;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    border-radius: 30px;
    padding: 10px 0;
    width: 220px; 
    display: block; /*remove o align-items:center da classe .apresentacao*/ 
}
#quem-somos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
}
#quem-somos h2{
    font-size: 32px;
    color: #122a57;
    display: flex;
    margin-bottom: 20px;
}
#quem-somos h2::before{
    content: "";
    height: 45px;
    width: 5px;
    margin-right: 5px;
    background-color: #122a57;
    position: relative;
}
#quem-somos p{
    margin-bottom: 10px;
    width: 80%;
}
#quem-somos .texto-quem-somos{
    width: 45%;
}
#servicos{
    flex-direction: column;
    padding: 30px 0 60px 0;
}
.container-externo{
    background-color: #122a57;
    width: 100%;
    color: #fff;
}
.container-externo h2{
    font-size: 40px;
    margin-bottom: 70px;
    margin-left: 150px;
}
.list-servicos{
    display: flex;
    justify-content: space-around;
}
.list-servicos .item-servico{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.list-servicos .item-servico a{
    text-decoration: none;
    font-size: 18px;
    font-weight:700;
    margin-top: 20px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 30px;
    padding: 5px 10px;
    color: #122a57;
    background-color: #fff;
    margin-bottom: 20px;
}
.list-servicos .item-servico p{
    color: #fff;
    margin-top: 10px;
    font-weight: 700;
    font-size: 24px;
}
.list-servicos .item-servico img{
    width: 100%;
    margin: auto;
}
#planos{
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-around;
    margin-bottom: 20px;
}
#planos h2{
    font-size: 40px;
    margin-left: 60px;
    margin-top: 15px;
}
#planos .list-planos{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.list-planos .item-plano{
    /* flex:1; */
    border: #122a57 1px solid;
    padding: 15px 20px 15px 35px;
    margin-bottom: 10px;
}
.item-plano .titulo-plano{
    margin-bottom: 15px;
    border-bottom: #122a57 solid 3px;
    font-size: 24px;    
    width: 100px;
}
.item-plano li{
    list-style-type: square;
    margin-bottom: 2px;
}
.item-plano a{
    background-color: #122a57;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    border-radius: 30px;
    width: 120px;
    height: 30px;
    display: block;
    margin-top: 15px;
}
/* Mobile */
@media(max-width:900px){
    .flex-container{
        flex-direction: column;
        width: 100%;
    }
    .apresentacao{
        display: flex;
        flex-direction: column;
        align-content: center;
        flex: 1;
    }
    .texto-apresentacao{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .apresentacao .texto-apresentacao h1{
        text-align: center;
    }
    .list-servicos{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    #quem-somos{
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
    }
    .list-servicos .item-servico a{
        margin-bottom: 50px;
    }
    .list-servicos .item-servico img{
        width: 70%;
        margin: auto;
    }
    .container-externo h2,#planos h2{
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 60px;
    }
    #planos .list-planos{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }
    .list-planos .item-plano{
        flex-grow: 2;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
}
